//docker.enabled=true
params{
	//Global parameters
	single_end=false

	//mclparameters
	////////////Clustering parameters
	//mcl parameters
	inflation=2
	//mash parameters
	mashdistance=0.05
	mashcores=4

	/////////
	//abundance parametetrs
	bwtcores=6
	}

	env {
	    // PYTHONNOUSERSITE = 1
	    R_PROFILE_USER   = "/.Rprofile"
	    R_ENVIRON_USER   = "/.Renviron"
	}

	timeline{
	  enabled=true
	  file="./timeline.html"
	}

	manifest{
  	name='nf-plasx'
  	author='Jose Garcia'
  	homePage="github/garciafertson/nf_BGC"
  	description="pipeline for Plasmid Prediction and ARG annotation in metagenome assemblies"
  	mainScript="main.nf"
  	version="0.1"
	}
