//docker.enabled=true
params{
	//Global parameters
	plamsmid_threshold=0.7
	//mcl parameters
	inflation=2
	//mash parameters
	mashdistance=0.05
	mashcores=4
	//RUN ARG pipeline
	skip_ARG=false
	//RUN Plasmid pipeline
	run_plasmid_prediction=true
	//User home
	user_home="$HOME"
	/////////
	//abundance parametetrs
	bwtcores=6
	///deepARG parameters set to home
	deeparg_db= "$HOME/deeparg_db"
	deeparg_identity = 40
	}

	env {
	    // PYTHONNOUSERSITE = 1
	    R_PROFILE_USER   = "/.Rprofile"
	    R_ENVIRON_USER   = "/.Renviron"
	}

	manifest{
  	name='nf-plasx'
  	author='Jose Garcia'
  	homePage="github/garciafertson/nf_BGC"
  	description="pipeline for Plasmid Prediction and ARG annotation in metagenome assemblies"
  	mainScript="main.nf"
  	version="0.1"
	}
