params {
	config_profile_description = 'Kings College London CREATE HPC'
	config_profile_contact = 'Jose Garcia'
	config_profile_url = 'https://www.create.kcl.ac.uk/'
}

singularity {
	enabled = true
	autoMounts = true
}

env {
    //SINGULARITY_BIND="/scratch/prj/chmi/sysbiolab/"
    SINGULARITY_TMPDIR="/scratch/prj/chmi/tmp"
}


params {
	max_memory = 256.GB
	max_cpus = 32
	max_time = 48.h
}

process {
	executor = 'slurm'
	maxRetries = 3
	queue = 'cpu'
    containerOptions = "--bind /scratch/prj/chmi/sysbiolab/software/meteor/"
}

executor {
	queueSize = 30
	submitRateLimit = '10 sec'
}
